.search {
    &__icon {
        position: absolute;
        left: 1.7rem;
        top: 2.6rem;
        width: 2rem;
        height: 2rem;
        fill: var(--color-primary);
    }

    .popup__content &__input {
        font-size: 1.7rem;
        height: 7rem;
        padding: 2.3rem 2rem 2rem 5rem;
        line-height: 1.5;
        border-radius: 1rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        background-color: var(--color-text);
        color: var(--color-primary);
        margin: 0;
        border: 0;
        border-bottom: 1px solid var(--color-primary-light-3);
        &:focus {
            border-bottom: 1px solid var(--color-primary-light-2);
            outline: none;
        }
    }

    &__result-wrapper {
        width: 100%;
        background-color: var(--color-text);
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }

    &__item-wrapper {
        padding: 1.5rem;
        &:not(:last-child) {
            border-bottom: 1px solid var(--color-primary-light-3);
        }
    }

    &__item {
        cursor: pointer;
        padding:.5rem;
        & p {
            color: var(--color-primary-light-2);
            // margin-top: 0.7rem;
            font-size: 1.6rem;
        }
        & span {
            color: var(--color-primary-light-3);
            margin-top: 0.5rem;
            font-size: 1.4rem;
        }

        &:hover {
            background-color: var(--color-text-2);
        }
    }
}
